/* Extra small devices (portrait phones, less than 576px)*/
/*@media (max-width: 575.98px) {
.bodyCard {
            font-size: 8px;
            }
.footer {
        max-height: 130px;
        }
.footer-first-row {
                height: 30px;
                margin-top: 1px;
                }
.footer-line-text {
        font-size: 8px;
        }

.colMapGraf{
	width: 100%;
}
}*/
/* Стиль при наведении */
/* @media (min-width: 768px) { */
        /* .dia-excel:hover, */
        /* .dia-button:hover { */
                /* transition: 0.2s ease-in-out; */
                /* background-image: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%), linear-gradient(336deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%); */
                /* background-size: 200% 300%; */
                /* -webkit-animation: 10s infinite granimate; */
                /* animation: 10s infinite granimate */
            /* } */
/* } */


/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) {
	.dia-excel:hover,
	.dia-button:hover {
			transition: 0.2s ease-in-out;
			background-image: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%), linear-gradient(336deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%);
			background-size: 200% 300%;
			-webkit-animation: 10s infinite granimate;
			animation: 10s infinite granimate
		}
		
    .dia-excel:hover,
    .dia-button:hover {
        color: #000;
        background-color: transparent
    }
	
    .dia-excel:hover:before,
    .dia-button:hover:before {
        opacity: 0;
        visibility: hidden
    }
	
.bodyCard {
            font-size: 8px;
            }
.footer {
        max-height: 130px;
        }
.footer-first-row {
                height: 30px;
                margin-top: 1px;
                }
.footer-line-text {
        font-size: 8px;
        }

.colMapGraf {
	min-width: 100px;
}
}



/* @media (max-width: 767.98px) { */
/* .bodyCard { */
            /* font-size: 8px; */
            /* } */
/* .footer { */
        /* max-height: 130px; */
        /* } */
/* .footer-first-row { */
                /* height: 30px; */
                /* margin-top: 1px; */
                /* } */
/* .footer-line-text { */
        /* font-size: 8px; */
        /* } */

/* .colMapGraf{ */
	/* width: 100%; */
/* } */
/* } */

@media (max-width: 991px) {
    .dia-button {
        display: block;
        width: 230px;
        margin: 5px auto;
        padding: 16px 20px
    }
}
@media (max-width: 991px) {
    .dia-button {
        justify-content: center
    }
}

/* Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) { ... }*/

/* Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) { ... }*/

/* Extra large devices (large desktops)*/
/* No media query since the extra-large breakpoint has no upper bound on its width*/




