/* Общий стиль кнопки */
.dia-button {
    box-shadow: none;
    border: none;
    letter-spacing: -0.02em;
    /*margin: 15px auto;*/
   /* display: inline-block;
    width: 100%;*/
    border-radius: 40px;
    padding: 16px 25px;
    font-family: "e-ukraine-heading", sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    line-height: 12px;
    color: #fff !important;
    position: relative;
    z-index: 1;
    max-width: 300px;
    text-align: center
}

/* Общий стиль кнопки */
.dia-excel {
    box-shadow: none;
    border: none; /*5px solid #fff;*/
    letter-spacing: -0.02em;
    /*margin: 15px auto;*/
   /* display: inline-block;
    width: 100%;*/
    border-radius: 40px;
    /*padding: 16px 25px;*/
    padding: 6px 15px;
    font-family: "e-ukraine-heading", sans-serif;
    font-size: 12px;
    /*color: #fff;*/
    font-weight: 400;
    line-height: 15px;
    color: #fff !important;
    position: relative;
    z-index: 1;
    max-width: 300px;
    text-align: end
}

/* Стиль при наведении */
/* @media (min-width: 768px) { */
        /* .dia-excel:hover, */
        /* .dia-button:hover { */
                /* transition: 0.2s ease-in-out; */
                /* background-image: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%), linear-gradient(336deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%); */
                /* background-size: 200% 300%; */
                /* -webkit-animation: 10s infinite granimate; */
                /* animation: 10s infinite granimate */
            /* } */
/* } */

.dia-excel:before,
.dia-button:before {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;
    margin: auto;
    opacity: 1;
    visibility: visible;
    z-index: -1;
    border-radius: 40px;
    background-color: #000;
    transition: 0.2s ease-in-out
}

/* @media (min-width: 768px) { */
    /* .dia-excel:hover, */
    /* .dia-button:hover { */
        /* color: #000; */
        /* background-color: transparent */
    /* } */
    /* .dia-excel:hover:before, */
    /* .dia-button:hover:before { */
        /* opacity: 0; */
        /* visibility: hidden */
    /* } */
/* } */


.dia-excel:disabled:before,
.dia-button:disabled:before {
    background-color: #ccc
}

.dia-excel-sm,
.dia-button-sm {
    width: auto;
    min-width: 170px
}

/* @media (max-width: 991px) { */
    /* .dia-button { */
        /* display: block; */
        /* width: 230px; */
        /* margin: 5px auto; */
        /* padding: 16px 20px */
    /* } */
/* } */

/*.dia-excel,*/
.dia-button {
    display: flex
}

/* @media (max-width: 991px) { */
    /* .dia-button { */
        /* justify-content: center */
    /* } */
/* } */
