
@font-face {
  font-family: 'e-ukraine';
  src: url('fonts/e-Ukraine_font/web/e-Ukraine-Light.eot'); /* Поддерживается в IE9 */
  src: local("O"), url('fonts/e-Ukraine_font/web/e-Ukraine-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Light.woff2') format('woff2'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Light.woff') format('woff'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Light.ttf')  format('truetype'), /* Для Сафари, Андроид, iOS и почти всех других */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Light.svg#svgFontName') format('svg'); /* Для iOS */
  font-weight: 300;
  font-style: lite; 
}

@font-face {
  font-family: 'e-ukraine';
  src: url('fonts/e-Ukraine_font/web/e-Ukraine-Regular.eot'); /* Поддерживается в IE9 */
  src: local("O"), url('fonts/e-Ukraine_font/web/e-Ukraine-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Regular.woff2') format('woff2'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Regular.woff') format('woff'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Regular.ttf')  format('truetype'), /* Для Сафари, Андроид, iOS и почти всех других */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Regular.svg#svgFontName') format('svg'); /* Для iOS */
  font-weight: 400;
  font-style: normal; 
}

@font-face {
  font-family: 'e-ukraine';
  src: url('fonts/e-Ukraine_font/web/e-Ukraine-Medium.eot'); /* Поддерживается в IE9 */
  src: local("O"), url('fonts/e-Ukraine_font/web/e-Ukraine-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Medium.woff2') format('woff2'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Medium.woff') format('woff'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Medium.ttf')  format('truetype'), /* Для Сафари, Андроид, iOS и почти всех других */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Medium.svg#svgFontName') format('svg'); /* Для iOS */
  font-weight: 500;
  font-style: medium; 
}

@font-face {
  font-family: 'e-ukraine';
  src: url('fonts/e-Ukraine_font/web/e-Ukraine-Bold.eot'); /* Поддерживается в IE9 */
  src: local("O"), url('fonts/e-Ukraine_font/web/e-Ukraine-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Bold.woff2') format('woff2'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Bold.woff') format('woff'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Bold.ttf')  format('truetype'), /* Для Сафари, Андроид, iOS и почти всех других */
       url('fonts/e-Ukraine_font/web/e-Ukraine-Bold.svg#svgFontName') format('svg'); /* Для iOS */
  font-weight: 700;
  font-style: bold; 
}


@font-face {
  font-family: 'e-ukraine-heading';
  src: url('fonts/e-Ukraine_font/web/e-UkraineHead-Light.eot'); /* Поддерживается в IE9 */
  src: local("O"), url('fonts/e-Ukraine_font/web/e-UkraineHead-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Light.woff2') format('woff2'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Light.woff') format('woff'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Light.ttf')  format('truetype'), /* Для Сафари, Андроид, iOS и почти всех других */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Light.svg#svgFontName') format('svg'); /* Для iOS */
  font-weight: 300;
  font-style: lite; 
}

@font-face {
  font-family: 'e-ukraine-heading';
  src: url('fonts/e-Ukraine_font/web/e-UkraineHead-Regular.eot'); /* Поддерживается в IE9 */
  src: local("O"), url('fonts/e-Ukraine_font/web/e-UkraineHead-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Regular.woff2') format('woff2'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Regular.woff') format('woff'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Regular.ttf')  format('truetype'), /* Для Сафари, Андроид, iOS и почти всех других */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Regular.svg#svgFontName') format('svg'); /* Для iOS */
  font-weight: 400;
  font-style: normal; 
}

@font-face {
  font-family: 'e-ukraine-heading';
  src: url('fonts/e-Ukraine_font/web/e-UkraineHead-Medium.eot'); /* Поддерживается в IE9 */
  src: local("O"), url('fonts/e-Ukraine_font/web/e-UkraineHead-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Medium.woff2') format('woff2'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Medium.woff') format('woff'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Medium.ttf')  format('truetype'), /* Для Сафари, Андроид, iOS и почти всех других */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Medium.svg#svgFontName') format('svg'); /* Для iOS */
  font-weight: 500;
  font-style: medium; 
}

@font-face {
  font-family: 'e-ukraine-heading';
  src: url('fonts/e-Ukraine_font/web/e-UkraineHead-Bold.eot'); /* Поддерживается в IE9 */
  src: local("O"), url('fonts/e-Ukraine_font/web/e-UkraineHead-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Bold.woff2') format('woff2'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Bold.woff') format('woff'), /* Для супер современных браузеров */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Bold.ttf')  format('truetype'), /* Для Сафари, Андроид, iOS и почти всех других */
       url('fonts/e-Ukraine_font/web/e-UkraineHead-Bold.svg#svgFontName') format('svg'); /* Для iOS */
  font-weight: 700;
  font-style: bold; 
}


.VirtualizedSelectOption {
  overflow: hidden;
  font-size: 12px;
}

/*.VirtualizedSelectOption { white-space: nowrap; overflow: scroll; text-overflow: ellipsis; }*/

.DateInput_input, .DateInput_input_1 {
  Height: 30px;
}
